<div *ngIf="!isAdmin()">
    <h2>You need Administrative access!</h2>
</div>
<div *ngIf="isAdmin()" class="admin-container">
    <h2 class="manage-orders-heading">Manage Orders</h2>
    <a href="/home" class="return-button">
        <button>Return</button>
    </a>

    <table *ngIf="orders.length > 0">
        <thead>
            <tr>
                <th>Order Number</th>
                <th>Pickup Location</th>
                <th>Drop-Off Location</th>
                <th>Package Details</th>
                <th>Delivery Time</th>
                <th>User ID</th>
                <th>Courier ID</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let order of orders">
                <td>{{ order.orderNumber }}</td>
                <td>{{ order.pickupLocation }}</td>
                <td>{{ order.dropOffLocation }}</td>
                <td>{{ order.packageDetails }}</td>
                <td>{{ order.deliveryTime }}</td>
                <td>{{ order.user_id }}</td>
                <td>{{ order.courier_id ? order.courier_id : 'Not Assigned' }}</td>
                <td>
                    <select [(ngModel)]="order.status">
                        <option value="pending">Pending</option>
                        <option value="picked up">Picked Up</option>
                        <option value="in transit">In Transit</option>
                        <option value="delivered">Delivered</option>
                    </select>
                </td>
                <td>
                    <div class="action-buttons">
                        <button class="update-button" (click)="updateStatus(order.orderNumber, order.status)">Update Status</button>
                        <button class="delete-button" (click)="deleteOrder(order.orderNumber)">Delete</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Form for Assigning Courier -->
    <h3 class="assign-courier-form">Assign Courier to Order</h3>
    <form (ngSubmit)="assignCourier(orderNumber, courierId)" class="assign-courier-form">
        <label for="orderNumber">Order Number</label>
        <input type="number" id="orderNumber" [(ngModel)]="orderNumber" name="orderNumber" required>

        <label for="courierId">Courier ID</label>
        <input type="number" id="courierId" [(ngModel)]="courierId" name="courierId" required>

        <button type="submit" class="assign-button">Assign Courier</button>
    </form>
</div>
